<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<link rel="stylesheet" href="weather.css">

<div class="weather">
    <%= Math.round(response.data.main.temp) %>°<span>C</span>
</div>

<div class="place">
    <%= response.data.name %>, <%= response.data.sys.country %>
</div>
<div class="description">
    <%= response.data.weather[0].main %>
</div>

<a href="/">Search again</a>